# Spécifie que le fichier par défaut à charger est index.html
DirectoryIndex index.html

# (Optionnel) Redirection automatique vers HTTPS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
